.button-request{
    border-radius: 30px;
    border: white;
    background: linear-gradient(45deg, rgb(102, 221, 94), rgb(87, 199, 230));
    color: white;
    padding: 10px;
}
.nav-link{
    letter-spacing: 2px;
    font-size: 1.5px;
    position: relative;
}
.nav-link:hover{
    color: black;
    font-weight: bold;
}
.nav-link::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -15px;
    left: 0;
    height: 2px;
    width: 100%;
    background: rgb(39, 180, 220);
    transform-origin: right;
    transform: scale(0);
    transition: 0.4s;
}
.nav-link:hover::after{
    transform-origin: left;
    transform: scale(1);
}

